  # Challenge

  ## Identifying Outliers using Standard Deviation

In [1]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
import os
import dotenv
import math
dotenv.load_dotenv()

True

In [2]:
# create a connection to the database
pgsqlpw = os.getenv('PGADMIN_PW')
engine = create_engine(f'postgresql://postgres:{pgsqlpw}@localhost:5432/homework_07')
engine

Engine(postgresql://postgres:***@localhost:5432/homework_07)

In [3]:
# code a function to identify outliers based on standard deviation
sql = '''
SELECT 
        T.date AS transaction_date,
        T.amount AS transaction_amount,
        T.card AS card_number,
        CH.id AS card_holder_id,
        CH.name AS card_holder_name,
        M.name AS merchant_name,
        MC.name AS merchant_category
FROM transaction T
INNER JOIN credit_card CC ON T.card = CC.card
INNER JOIN card_holder CH ON CC.id_card_holder = CH.id
INNER JOIN merchant M ON T.id_merchant = M.id
INNER JOIN merchant_category MC ON M.id_merchant_category = MC.id
'''

df = pd.read_sql(sql, engine)
df.head()

,transaction_date,transaction_amount,card_number,card_holder_id,card_holder_name,merchant_name,merchant_category
0,2018-01-01 21:35:10,6.22,3561954487988605,13,John Martin,Dominguez PLC,food truck
1,2018-01-01 21:43:12,3.83,5135837688671496,13,John Martin,Patton-Rivera,bar
2,2018-01-01 22:41:21,9.61,213193946980303,10,Matthew Gutierrez,Day-Murray,food truck
3,2018-01-01 23:13:30,19.03,4263694062533017,4,Danielle Green,Miller-Blevins,pub
4,2018-01-01 23:15:10,2.95,4498002758300,18,Malik Carlson,"Cline, Myers and Strong",restaurant

In [4]:
# find anomalous transactions for 3 random card holders
customer_ids = list(dict.fromkeys(list(df['card_holder_id'])).keys())
random_customer_ids = random.sample(customer_ids, 3)

# sort values by transaction_amount
random_df = pd.DataFrame(df.loc[df['card_holder_id'].isin(random_customer_ids)])
random_df.sort_values('transaction_amount', inplace=True)
random_df

,transaction_date,transaction_amount,card_number,card_holder_id,card_holder_name,merchant_name,merchant_category
1949,2018-07-17 22:11:50,0.52,4506405265172173,20,Kevin Spencer,Thomas-Garcia,food truck
1918,2018-07-14 17:44:09,0.53,4506405265172173,20,Kevin Spencer,Fowler and Sons,food truck
1947,2018-07-17 16:30:39,0.69,3517111172421930,1,Robert Johnson,Hood-Phillips,bar
694,2018-03-10 23:00:35,0.76,3517111172421930,1,Robert Johnson,Riggs-Adams,restaurant
2264,2018-08-21 16:23:34,1.10,3517111172421930,1,Robert Johnson,Fowler and Sons,food truck
...,...,...,...,...,...,...,...
2079,2018-07-31 05:15:17,1302.00,4761049645711555811,1,Robert Johnson,Padilla-Clements,coffee shop
3191,2018-11-27 17:27:34,1660.00,4761049645711555811,1,Robert Johnson,Browning-Cantu,pub
235,2018-01-24 13:17:19,1691.00,4761049645711555811,1,Robert Johnson,Osborne-Page,coffee shop
2374,2018-09-04 01:35:39,1790.00,4761049645711555811,1,Robert Johnson,Wallace and Sons,coffee shop
3263,2018-12-07 07:22:03,1894.00,4761049645711555811,1,Robert Johnson,"Curry, Scott and Richardson",bar

  ## Identifying Outliers Using Interquartile Range

In [5]:
# code a function to identify outliers based on interquartile range
def get_median(list):
    return list[math.ceil(len(list)/2)] if len(list) % 2 == 1 else (
        (list[math.ceil(len(list)/2)] + list[math.ceil(len(list)/2) + 1]) / 2
    )
    
# Calculate median value
amount_list = list(random_df['transaction_amount'])
median_value = get_median(amount_list) 

# Calculate lower quartile
lower_quartile = get_median(amount_list[:math.ceil(len(amount_list)/2)])

# Calculate upper quartile
upper_quartile = get_median(amount_list[math.ceil(len(amount_list)/2):])

# Find the interquartile range
interquartile_range = upper_quartile - lower_quartile

# Find the "inner fences" for the data set
inner_fences = [
    lower_quartile - interquartile_range * 1.5,
    upper_quartile + interquartile_range * 1.5
]

# Find the "outer fences" for the data set
outer_fences = [
    lower_quartile - interquartile_range * 3,
    upper_quartile + interquartile_range * 3
]

In [6]:
# find anomalous transactions for 3 random card holders
outlier_df = random_df.loc[(random_df['transaction_amount'] < outer_fences[0]) | (random_df['transaction_amount'] > outer_fences[1])]
outlier_df

,transaction_date,transaction_amount,card_number,card_holder_id,card_holder_name,merchant_name,merchant_category
3183,2018-11-26 20:54:39,267.0,4761049645711555811,1,Robert Johnson,"Rodgers, Johnston and Macias",food truck
979,2018-04-09 10:24:32,283.0,4761049645711555811,1,Robert Johnson,Johnson-Watts,restaurant
2788,2018-10-16 13:27:33,484.0,4761049645711555811,1,Robert Johnson,Thomas-Garcia,food truck
2387,2018-09-06 08:28:55,1017.0,4761049645711555811,1,Robert Johnson,"Jacobs, Torres and Walker",bar
3492,2018-12-30 23:23:09,1033.0,4761049645711555811,1,Robert Johnson,Thornton-Williams,pub
2391,2018-09-06 21:55:02,1056.0,4761049645711555811,1,Robert Johnson,Hamilton-Mcfarland,restaurant
2579,2018-09-26 08:48:40,1060.0,4761049645711555811,1,Robert Johnson,"Jenkins, Peterson and Beck",restaurant
2079,2018-07-31 05:15:17,1302.0,4761049645711555811,1,Robert Johnson,Padilla-Clements,coffee shop
3191,2018-11-27 17:27:34,1660.0,4761049645711555811,1,Robert Johnson,Browning-Cantu,pub
235,2018-01-24 13:17:19,1691.0,4761049645711555811,1,Robert Johnson,Osborne-Page,coffee shop
2374,2018-09-04 01:35:39,1790.0,4761049645711555811,1,Robert Johnson,Wallace and Sons,coffee shop
3263,2018-12-07 07:22:03,1894.0,4761049645711555811,1,Robert Johnson,"Curry, Scott and Richardson",bar